.container {
  padding: 0;
}
.site {
  margin: 10px auto;
  border: 2px solid #5ABB62;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.about-btn {
  width: 160px;
  height: 55px;
  border-right: 2px solid #5ABB62;
  border-bottom: 2px solid #5ABB62;
  border-radius: 0 0px 10px;
  cursor: pointer;
}

.about-btn a{
  display: block;
  padding-top: 15px;
  text-align: center;
  color: #5ABB62;
  text-decoration: none;
}

.head-text {
  text-align: center;
  color: #5ABB62;
}

.head-text h2 {
  margin: auto;
  font-size: 50px;
}

.passage {
  display: block;
  text-align: center;
  height: 150px;
  border: 2px solid #5ABB62;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px #5ABB62;
  -webkit-box-shadow: 0 0 10px #5ABB62;
  box-shadow: 0 0 10px #5ABB62;
  margin-top: 30px;
}

.passage:hover {
  color: #5ABB62;
}

.passage span {
  color: #5ABB62;
  font-size: 18px;
}

.image {
  margin: 10px auto;
  width: 150px;
  height: 100px;
  background: white;
}

.image1 {
  margin: 10px auto;
  width: 150px;
  height: 100px;
  background-image: url('../images/bb.png');
  background-repeat: no-repeat;
}

.options-area {
  width: 160px;
  height: 55px;
  border-right: 2px solid #5ABB62;
  border-top: 2px solid #5ABB62;
  border-radius: 0px 10px 0px;
  display: inline-block;
}

.options {
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 11px;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 2px solid #5ABB62;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.options a{
  color: #5ABB62;
}

.options a:hover{
  color: #3fa147;
}

.options a:active{
  color: #2c8c34;
}

.berries-content {
  margin: 0 15px 0px 15px;
}

.berries-content h2 {
  color: rgb(105, 106, 108);
}

.berrie {
  width: 245px;
  height: 245px;
  background-image: url('../images/berrie.png');
  display: inline-block;
  float: right;
}

.berries-text {
  font-size: 18px;
  color: #696A6C;
}

.micro {
  margin-top: 15px;
  display: block;
  padding-top: 3px;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 2px solid #5ABB62;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -moz-box-shadow: 0 0 10px #5ABB62;
  -webkit-box-shadow: 0 0 10px #5ABB62;
  box-shadow: 0 0 10px #5ABB62;
}

.micro i {
  padding-top: 4px;
  background-color: #5ABB62;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: white;
  font-size: 43px;
}

.micro-small {
  margin-top: 15px;
  display: block;
  padding-top: 3px;
  text-align: center;
  width: 52px;
  height: 52px;
  border: 2px solid #5ABB62;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -moz-box-shadow: 0 0 10px #5ABB62;
  -webkit-box-shadow: 0 0 10px #5ABB62;
  box-shadow: 0 0 10px #5ABB62;
}

.micro-small span {
  margin-right: 0.2px;
  padding-top: 5px;
  background-color: #5ABB62;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  color: white;
  font-size: 35px;
}


.error {
  margin-top: 15px;
  display: block;
  padding-top: 3px;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid #C31A31;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -moz-box-shadow: 0 0 10px #C31A31;
  -webkit-box-shadow: 0 0 10px #C31A31;
  box-shadow: 0 0 10px #C31A31;
}

.error span {
  padding-top: 2px;
  padding-left: 1px;
  background-color: #C31A31;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: white;
  font-size: 35px;
}

.arrow {
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 2px solid #5ABB62;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.arrow span {
  padding-left: 2px;
  background-color: #5ABB62;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  color: white;
  font-size: 20px;
}

.panel-i {
  width: 250px;
  height: 55px;
  border-right: 2px solid #5ABB62;
  border-bottom: 2px solid #5ABB62;
  background-color: #5ABB62;
  border-radius: 5px 0px 10px;
  color: white;
}

.panel-text {
  padding: 2px 0px 0px 20px;
  font-size: 18px;
}

.student-data {
  margin: 10px 0 0 15px;
  font-size: 18px;
}

.student-info {
  font-size: 18px;
  color: rgb(105, 106, 108);
}


td.student-info {
  padding-left: 15px;
  font-size: 18px;
  color: rgb(105, 106, 108);
}

.student-error {
  padding-left: 50px;
  margin: 0 0 2px 0;
  font-size: 18px;
}

.info-data {
  color: #5ABB62;
}

.line {
  border-left: 2px solid #5ABB62;
  height: 200px;
}

.rect {
  position: relative;
  border: 2px solid #5ABB62;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px #5ABB62;
  -webkit-box-shadow: 0 0 10px #5ABB62;
  box-shadow: 0 0 10px #5ABB62;
  padding-top: 5%;
  text-align: center;
  height: 200px;
  background-color: #E1F0DD;
}

.rect-text {
  background-color: #D2FFCE;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
}

.error-table {
  width: 100%;
  margin-top: 20px;
}

canvas { 
	display: inline-block; 
	background: white; 
	width: 111px;
	height: 35px;
	border-radius: 6px;
}

#viz {
	display: inline-block;
  float: right;
  margin-top: -5px;
}

.pause-button-green {
  margin-top: 15px;
  display: block;
  padding-top: 3px;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 2px solid #5ABB62;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -moz-box-shadow: 0 0 10px #5ABB62;
  -webkit-box-shadow: 0 0 10px #5ABB62;
  box-shadow: 0 0 10px #5ABB62;
}

.pause-button-green i {
  padding-top: 10px;
  background-color: #5ABB62;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: white;
  font-size: 30px;
}

.pause-button-grey {
  margin-top: 15px;
  display: block;
  padding-top: 3px;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 2px solid #BFC1C2;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -moz-box-shadow: 0 0 10px #BFC1C2;
  -webkit-box-shadow: 0 0 10px #BFC1C2;
  box-shadow: 0 0 10px #BFC1C2;
}

.pause-button-grey i {
  padding-top: 10px;
  background-color: #BFC1C2;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: white;
  font-size: 30px;
}

.recording {
  padding: 12px;
  border: 2px solid #BFC1C2;
  width: 250px;
  height: 53px;
  border-radius: 5px;
  color: #BFC1C2;
  float: right;
  position: absolute;
  right: 12px;
  bottom: -52px;
}
