<div class="berries-content">
  <h2> Blueberries </h2>

  <div class="row berries-text">
    <div class="col-md-12">
      <div class="berrie"></div>
      <p>
        Do you know how blueberries grow? They
        grow on bushes. Each blueberry is small and
        round. Many blueberries can grow on one
        bush. At ﬁrst, the blueberries are green. The
        green berries are not ready to eat yet. They
        need a lot of sun and rain to help them
        become fat and sweet. When the berries
        turn blue, they are ripe and ready to be picked.
      </p>

      <p>
        Some farmers grow blueberries in big ﬁelds. The people who live nearby
        can earn money by helping to pick the blueberries. Each one takes a pail
        out to the ﬁeld and ﬁlls it with blueberries. They work fast so that they
        can ﬁll many pails.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">

      <div class="micro" ng-show="status=='micro'">
          <i class="fa fa-microphone" ng-click="status='pause'"></i>
      </div>

      <div class="pause-button-green" ng-show="status=='pause'">
        <a ng-click="openModal(); status='hold'">
          <i class="fa fa-pause"></i>
        </a>
      </div>

      <div class="pause-button-grey" ng-show="status=='hold'">
          <i class="fa fa-pause"  ng-click="status='micro'"></i>
      </div>

      <div class="recording" ng-show="status=='pause'">
          Recording...
          <div id="viz" >
            <canvas id="analyser" width="111" height="35"></canvas>
          </div>
      </div>
    </div>
  </div>

</div>
